.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.15em;
  color: $text-color;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -2px;

  padding: 10px 30px;
  background-color: $primary-color;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    background-color: $accent-color;
  }
}
