// colors
$primary-color: #ffc200;
$secondary-color: #12132f;
$accent-color: #f55252;

$light-color: #ffffff;
$dark-color: $secondary-color;

$text-color: $secondary-color;
$bg-color: $light-color;

// $success-color: #28a745;
// $danger-color: #dc3545;
// $info-color: #17a2b8;
// $warning-color: #ffc200;

// border radius
$radius: 16px;
