.widget .container {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  border-radius: $radius;
  padding: 20px;
}

.widget .widget-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.widget-banner {
  border-radius: $radius;
  overflow: hidden;
}

.widget-video,
.widget-text {
  flex-basis: 50%;
  width: 100%;
}

.widget-iframe-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.widget-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.form-radio-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.form-radio-wrapper,
.form-comment-wrapper,
.form-choice-wrapper {
  margin-top: 16px;
}

.form-stars,
.form-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-email-input {
  padding: 6px 12px;
  border-radius: 8px;
  width: 100%;
}

.form-comment-field {
  height: 120px;
  width: 100%;
  padding: 12px 12px;
  resize: none;
  border-radius: $radius;

  &::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-email-input,
.form-comment-field {
  border: 1px solid $secondary-color;
}

.form-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.form-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.slider-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  z-index: 3;
  background-color: $primary-color;
  transition: all 500ms ease;
}

.slider-btn.change-color {
  background-color: $light-color;
}

.play-icon {
  transition: all 500ms ease;
}

.play-icon.icon-rotate {
  transform: rotate(90deg);
}

.widget-form-wrapper {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: $radius;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  max-height: 58px;
  z-index: 2;
}

.widget-form {
  padding: 52px 20px 20px 20px;
  width: 100%;

  border-radius: $radius;
  // opacity: inherit;
  // position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.widget-form-wrapper.show-form {
  height: 100%;
  max-height: 1600px;
  border: 1px solid $accent-color;
  opacity: 1;
}

// .form-form-wrapper.test {
//   height: 418px;
//   opacity: 100%;
// }
