<section class="widget">
  <div class="container">
    <div class="widget-info">
      <div class="widget-video">
        <div class="widget-iframe-wrapper">
          <iframe
            class="widget-iframe"
            title="YouTube video player"
            src="https://www.youtube.com/embed/9GkGbj6xNhs"
          ></iframe>
        </div>
      </div>

      <p class="widget-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ullam
        amet doloribus culpa itaque voluptates accusantium optio odit debitis
        commodi! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Corporis, ea.
      </p>
    </div>

    <div class="widget-form-wrapper">
      <button class="slider-btn btn" type="button">
        <span class="form-btn-text">Залиште ваш відгук</span>
        <img
          class="play-icon"
          src="./img/play.svg"
          alt="play icon"
          width="24"
          height="24"
        />
      </button>
      <form class="widget-form" name="feedback">
        <label class="visually-hidden"
          >feedback form
          <input type="text" name="widget" value="feedback" />
        </label>

        <div class="form-radio-wrapper">
          <p class="form-form-text">
            Наскільки цей продукт може допомогти тобі покращити онлайн зустрічі?
          </p>
          <label class="form-stars"
            >1
            <input type="radio" name="stars" value="1" required />
          </label>
          <label class="form-stars"
            >2
            <input type="radio" name="stars" value="2" />
          </label>
          <label class="form-stars"
            >3
            <input type="radio" name="stars" value="3" />
          </label>
          <label class="form-stars"
            >4
            <input type="radio" name="stars" value="4" />
          </label>
          <label class="form-stars"
            >5
            <input type="radio" name="stars" value="5" />
          </label>
        </div>

        <div class="form-radio-wrapper">
          <p class="form-form-text">
            Хочеш бути в списку перших користувачів безкоштовно?
          </p>
          <label class="form-choice"
            >Ні
            <input type="radio" name="subscribe" value="false" required />
          </label>
          <label class="form-choice"
            >Так
            <input type="radio" name="subscribe" value="true" />
          </label>
        </div>

        <div class="form-choice-wrapper">
          <label class="form-email"
            >Залиште вашу електронну пошту для зв'язку:
            <input
              class="form-email-input"
              type="email"
              name="email"
              required
            />
          </label>
        </div>

        <div class="form-comment-wrapper">
          <label class="form-comment" for="user-text-id">Ваш коментар:</label>
          <textarea
            class="form-comment-field"
            name="comment"
            id="user-text-id"
            placeholder="Залиште коментар"
          ></textarea>
        </div>

        <div class="form-btn-wrapper">
          <button class="form-btn btn" type="submit">
            <span class="form-btn-text">надіслати відповідь</span>
            <img src="./img/play.svg" alt="play icon" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
